body{
   background-color: #5DFDAF;
   text-align: center;
}

#IngresarEmpleado{
	margin: 0 auto;
	border: 2px solid #000;
	padding: 3em;
	max-width: 35%;
}

#IngresarEmpleado div{
           padding: 0.7em;
           width: 100%;
}

#IngresarEmpleado div label{
 text-align: right;
 min-width: 30%;
 color: #562;
}

#IngresarEmpleado div input[type="text"]{
   min-width: 70%;
}

.botones{
	margin: 0.5em;
	background-color: #0C5555;
	color: #EEE;
	border: none;
	outline: none;
	padding: 0.3em;
	border-radius: 10px;
}

.botones:hover{
	background-color: rgba(0,0,0,0.5);
}